<!DOCTYPE html>
<html>
<head>
    <link href="/singleplayer.css" rel="stylesheet" type="text/css" />
    <title>Snake - Singleplayer</title>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="7t_kAsUT7rEnJB4SH9wL7-G5nlNsSJFzJQR_orKw_Tg" />
    <meta name="description" content="Snake The Game - Single and Multiplayer">
	<meta name="keywords" content="Snake, Game, tk, node, js">
	<meta name="author" content="Simon Köck">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/singleplayer.js"></script>
</head>

<body onload="init()">
    <div id="title">SNAKE</div>
    <canvas id="canvas" widht="300" height="300"></canvas>
    <div class="controlls" style="display: none;">
        <img id="btnDown"
             src="https://uploads.codesandbox.io/uploads/user/4e15117e-7ebe-4e34-9d85-e43085b4ae3a/EdnJ-btnDown.png" />
        <img id="btnTop"
             src="https://uploads.codesandbox.io/uploads/user/4e15117e-7ebe-4e34-9d85-e43085b4ae3a/Bw-v-btnTop.png" />
        <img id="btnLeft"
             src="https://uploads.codesandbox.io/uploads/user/4e15117e-7ebe-4e34-9d85-e43085b4ae3a/SnHe-btnLeft.png" />
        <img id="btnRight"
             src="https://uploads.codesandbox.io/uploads/user/4e15117e-7ebe-4e34-9d85-e43085b4ae3a/6QMl-btnRight.png" />
    </div>
    <div id="msg"></div>
    <div id="newHighscore"></div>
    <div class="footer">
        <div>
            <a href="./multiplayer"> - Multiplayer - </a>
        </div>
        <div id="highscore"></div>
        <div class="warnings"><img id="warningImage" src="https://uploads.codesandbox.io/uploads/user/4e15117e-7ebe-4e34-9d85-e43085b4ae3a/vu6Z-danger.png" /><div id="warningText">WARNING: THIS GAME MAKES ADDICTED!</div></div>
    </div>
</body>
</html>
